<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>
    <div class='container'>
        <header>
            <h2>Please give us your feedback</h2>
        </header>

        <form action="/submit_iris" method="post">
            <h3></h3>
            <div>
                <label for="epochNum">Number of Epoch: </label><input type="number" size="30" name="epochNum" min="1">
            </div>
            <div>
                <label for="learningRate">Learning rate</label><input type="text" size="30" name="learningRate">
            </div>

            <h3>Enter Iris Data</h3>
            <div>
                <label for="sepalLength">Sepal Length: </label><input type="text" size="30" name="sepalLength">
            </div>
            <div>
                <label for="sepalWidth">Sepal Width: </label><input type="text" size="30" name="sepalWidth">
            </div>
            <div>
                <label for="petalLength">Petal Length: </label><input type="text" size="30" name="petalLength">
            </div>
            <div>
                <label for="petalWidth">Petal Width: </label><input type="text" size="30" name="petalWidth">
            </div>
            <div>
                <label for="species">Species</label>
                <select name="species">
                    <option value="setosa" selected>Setosa</option>
                    <option value="virginica">Virginica</option>
                    <option value="versicolor">Versicolor</option>
                </select>
            </div>

            <div>
                <label></label><input type="submit" value="Predict" id="Predict">
            </div>

        </form>

    </div>


    <br>
</body>

</html>